body{
	background-color: #eaeaea;
}
header{
	height: 200px;
	width: 800px;
	outline: solid red;
	text-align: center;
	color: grey;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
	height: 400px;
	width: 100px;
	outline: solid red;
	text-align: center;
	color: grey;
    font-size: 25px;
    font-weight: 500;
    float: left;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
	height: 400px;
	width: 700px;
	outline: solid red;
	text-align: center;
	color: grey;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
	height: 200px;
	width: 800px;
	outline: solid grey;
	text-align: center;
	color: grey;
    font-size: 30px;
    font-weight: 500;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}